<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cargando...</title>
</head>
<body>
<form id="webpay-form" action="<%= url %>" method="post">
    <input type="hidden" name="<%= inputName %>" value="<%= token %>">
</form>
<script>document.getElementById("webpay-form").submit();</script>
</body>
</html>
